/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* style */

body {
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
	background: #bf203ae6;
	text-align: left;
}

header {
	margin: 20px;
	text-align: left;
	color: white;
	fill: currentColor;
}

#orange-svg {
	display: inline-block;
}

/* logo text */
#logo {
	font-size: 36px;
	display: inline-block;
	padding-left: 10px;
}

#intro-text {
	margin-top: 10px;
	font-style: italic;
	font-size: 46px;
	color: white;
	text-align: left;
	/* max-width: 640px; */
	margin: 30px auto 20px 20px;
}

#description-text {
	margin-top: 10px;
	font-style: italic;
	font-size: 26px;
	color: white;
	text-align: left;
	/* max-width: 640px; */
	margin: 30px auto 20px 20px;
}

/* button */
#have-a-go {
	margin: 0 auto;
	margin-top: 20%;
	max-width: 52%;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	color: white;
	font-size: 42px;
	text-decoration: none;
}
#have-a-go:hover {
	color: blue;
}

/* POSTS PAGE */
#username {
	display: inline-block;
	position: relative;
	top: 10px;
	color: #bf203ae6;
	padding: 10px;
	/* position: absolute;
	right: 20px; */
}

#input-box {
	display: inline-block;
	padding: 10px;
	width: 70%;
	border-radius: 8px;
	border: 1px, solid, #bf203ae6;
	min-height: 80px;
}

input[type="text"],
textarea {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #bf203ae6;
}

input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 5px #bf203ae6;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #bf203ae6;
}
